body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}
#game {
  grid-area: 1 / 1;
  background-color: rgb(6, 79, 45);
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(./images/Church.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#running_boy_sprite {
  grid-area: 1/1;
  position: absolute;
  overflow: hidden;
  height: 200px;
  width: 200px;
  top: 80%;
  left: 50%;
}

#priest_sprite {
  grid-area: 1/1;
  position: absolute;
  overflow: hidden;
  height: 300px;
  width: 200px;
  top: 60%;
  left: 80%;
}

#window_sprite {
  grid-area: 1/1;
  position: absolute;
  overflow: hidden;
  height: 219px;
  width: auto;
  top: 17%;
  left: 25%;
}

#game_foreground {
  grid-area: 1 / 1;
  background-image: url();
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
}

#time_board {
  width: 5.6%;
  position: absolute;
  top: 5%;
  left: 90%;
}
#score_board {
  width: 23%;
  position: absolute;
  top: 69%;
  left: 11%;
}
#energy_board {
  width: 26%;
  position: absolute;
  top: 5%;
  left: 2%;
  width: 50px;
  height: auto;
}
#energy_board1 {
  width: 26%;
  position: absolute;
  top: 5%;
  left: 8%;
  width: 50px;
  height: auto;
}
#energy_board2 {
  width: 26%;
  position: absolute;
  top: 5%;
  left: 14%;
  width: 50px;
  height: auto;
}
