body {
  margin: 0;
  width: 100%;
  cursor: url(images/cursor.png), default;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16 / 9;
  width: 100%;
}
#game {
  grid-area: 1 / 1;
  background-color: rgb(6, 79, 45);
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(images/Church.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#running_boy_sprite {
  position: absolute;
  overflow: hidden;
  width: 12%;
  top: 75%;
  left: 50%;
}
#running_boy_blood_sprite {
  position: absolute;
  overflow: hidden;
  width: 12%;
  top: 80%;
  left: 50%;
  border-radius: 50%;
  display: none;
}

#priest_sprite {
  position: absolute;
  overflow: hidden;
  width: 10%;
  top: 55%;
  left: 72%;
}

#running_priest_blood_sprite {
  position: absolute;
  overflow: hidden;
  width: 16%;
  top: 62%;
  left: 69%;
  border-radius: 50%;
  display: none;
}

#game_foreground {
  background-image: url();
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#game_ui {
  grid-area: 1 / 1;
  position: relative;
}

#time_board {
  width: 5.6%;
  position: absolute;
  top: 5%;
  left: 90%;
}
#score_board {
  width: 23%;
  position: absolute;
  top: 69%;
  left: 11%;
}
#energy_board {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 4%;
  height: auto;
}
#energy_board1 {
  position: absolute;
  top: 5%;
  left: 8%;
  width: 4%;
  height: auto;
}
#energy_board2 {
  position: absolute;
  top: 5%;
  left: 14%;
  width: 4%;
  height: auto;
}
